<div>
  <div class="d-flex flex-column gap-5 pb-10">
    <h3 class="mt-0 mb-0">Condition:</h3>
    <div class="container-type pb-5">
      @for (item of getConditions(); track $index) {
        <div class="container-type-item"
             [class.selected]="conditionFC.value === item"
             (click)="selectCondition(item)">
          <div>
            <i class="fa-solid fa-database fa-2xl" ></i>
          </div>
          <span>{{item}}</span>
        </div>
      }
    </div>
  </div>
  <div class="d-flex flex-column gap-5 pb-10">
    <h3 class="mt-0 mb-0">Type:</h3>
    <div class="container-type">
      @for (item of types$ | async; track $index) {
        <div class="container-type-item"
             [class.selected]="typeFC.value === item"
             (click)="selecteType(item)">
          <div>
            <i class="fa-solid fa-database fa-2xl" ></i>
          </div>
          <span>{{item}}</span>
        </div>
      }
    </div>
  </div>
  <div class="d-flex flex-column gap-5">
    <h3 class="mt-0 mb-0">Manufacturer:</h3>
    <div class="container-type">
      @for (item of manufacturers$ | async; track $index) {
        <div class="container-type-item"
             [class.selected]="manufacturerFC.value === item"
             (click)="selecteManufacturer(item)">
          <div>
            <i class="fa-solid fa-database fa-2xl" ></i>
          </div>
          <span>{{item}}</span>
        </div>
      }
    </div>
  </div>
</div>
