<div class="d-flex flex-column gap-5 pb-10">
  <h3 class="mt-0 mb-0">Tray selection:</h3>
  <div class="container-type">
    @for (item of trayTypes(); track $index) {
      <div class="container-type-item tray-item "
           [class.selected]="traySelectionFC.value === item"
           (click)="selectetTrayType(item)">
        <div>
          <i class="fa-solid fa-database fa-2xl" ></i>
        </div>
      </div>
    }
  </div>
<!--  <div class="d-flex flex-column gap-5 pt-10">-->
<!--    <label for="po">Use flippers #:</label>-->
<!--    <input type="text" style="text-align:center;" pInputText [formControl]="trayFormcontrol" id="po" readonly/>-->
<!--  </div>-->
</div>
