<div class="container">
  <nav>
    <div>
      <a routerLink="/" class="home">Home</a>
    </div>
    <h1 style="margin: 0; text-align: center">{{title}}</h1>
    <a></a>
  </nav>
  <div class="content">
    <div class="left">
      <div class="instructions">
        <p-card [header]="'INSTRUCTIONS'">
          <div class="steps">
            <div class="step"></div>
            <div class="step"></div>
            <div class="step"></div>
          </div>
        </p-card>
      </div>
    </div>
    <main>
      <div class="d-flex flex-column gap-10" [formGroup]="form" *ngIf="form">
        <p-card [header]="'SUMMARY'">
          <div>
            <div class="form-inputs">
              <div class="d-flex flex-column gap-5">
                <label for="po">PO</label>
                <input type="text" pInputText formControlName="po" id="po"/>
              </div>
              <div class="d-flex flex-column gap-5">
                <label>Unique / Pallet ID</label>
                <div formArrayName="palletIds" class="d-flex flex-column gap-5 formArrayContainer">
                  <div class="d-flex gap-5" *ngFor="let palletId of palletIdsFormArray.controls; let i = index">
                    <input type="text" pInputText [formControlName]="i" />
                  </div>
                </div>
              </div>
              <div class="d-flex flex-column gap-5">
                <label style="color:transparent;">.</label>
              </div>
            </div>

            <div formArrayName="items" class="items">
              <div class="item" [formGroupName]="i" *ngFor="let item of itemsFormArray.controls; let i = index">
                <div class="d-flex flex-column gap-5 short-input">
                  <label for="po" *ngIf="i === 0">Condition</label>
                  <input type="text" pInputText formControlName="condition" id="condition" readonly/>
                </div>
                <div class="d-flex flex-column gap-5 short-input">
                  <label for="po" *ngIf="i === 0">Type</label>
                  <input type="text" pInputText formControlName="type" id="type" readonly/>
                </div>
                <div class="d-flex flex-column gap-5 short-input">
                  <label for="manufacturer" *ngIf="i === 0">Manufacturer</label>
                  <input type="text" pInputText formControlName="manufacturer" id="manufacturer" readonly/>
                </div>
                <div class="d-flex flex-column gap-5 short-input">
                  <label for="generation" *ngIf="i === 0">Gen</label>
                  <input type="text" pInputText formControlName="generation" id="generation" readonly/>
                </div>
                <div class="d-flex flex-column gap-5 short-input">
                  <label for="capacity" *ngIf="i === 0">Cap</label>
                  <input type="text" pInputText formControlName="capacity" id="capacity" readonly/>
                </div>
                <div class="d-flex flex-column gap-5 short-input">
                  <label *ngIf="i === 0">Capture SN</label>
                  <div class="text-cente pt-5 text-center" >
                    <i class="pi pi-check-circle" style="color: green;font-size: 25px" *ngIf="getTextCaptureSerialNumber(i); else no"></i>
                    <ng-template #no>
                      <i class="pi pi-times-circle" style="color: red; font-size: 25px"></i>
                    </ng-template>

                  </div>
                </div>
                <div class="d-flex flex-column gap-5">
                  <label for="po" *ngIf="i === 0">Part number</label>
                  <input type="text" pInputText formControlName="partNumber" id="partNumber" readonly/>
                </div>
                <div class="d-flex flex-column gap-5 short-input">
                  <label for="po" *ngIf="i === 0">Customer PN</label>
                  <input type="text" pInputText formControlName="customerPN" id="customerPN" readonly/>
                </div>
                <div class="d-flex flex-column gap-5 short-input">
                  <label for="po" *ngIf="i === 0">Qty. scanned</label>
                  <input type="text" pInputText formControlName="qtyScanned" id="qtyScanned" readonly/>
                </div>
              </div>
            </div>
          </div>

        </p-card>

        <p-card>
          <div class="d-flex gap-10">
            <div class="d-flex flex-column gap-5 short-input">
              <label for="totalQuantity">Total Quantity</label>
              <input type="text" pInputText formControlName="totalQuantity" id="totalQuantity"/>
            </div>
            <div class="d-flex flex-column gap-5 short-input">
              <label for="trayQuantity">Tray Quantity</label>
              <input type="text" pInputText formControlName="trayQuantity" id="trayQuantity"/>
            </div>
          </div>
        </p-card>

        <div class="d-flex gap-10">
          <p-button label="Settings" severity="secondary"></p-button>
          <p-button label="Start" severity="primary"></p-button>
        </div>
      </div>
    </main>
    <div class="right">
      <p-card [header]="'SERIALS'">
        <div class="content"></div>
      </p-card>
    </div>
  </div>
</div>
